/* You can add global styles to this file, and also import other style files */
.counter {
    font-size: 1.2rem;
}
.box {
    border: 1px solid #c1bdc1bf;
    padding: 50px;
    border-radius: 5px;
}